<footer class="footer has-cards">
    <div class="container container-lg">
        <div class="col-md-4">
            <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="modal-title-default">Mentions légales</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h4>Hébergeur : OVH</h4>
                    <p class="heading">SAS au capital de 10 069 020 €</p>
                    <p class="heading">RCS Lille Métropole 424 761 419 00045</p>
                    <p class="heading">Code APE 2620Z</p>
                    <p class="heading">N° TVA : FR 22 424 761 419</p>
                    <p class="heading">Siège social : 2 rue Kellermann - 59100 Roubaix - France</p>
                    <p class="heading">Directeur de la publication : Octave KLABA</p>
                    <p class="heading">Président : Henryk KLABA</p>
                    <p class="heading">Directeur général : Miroslaw KLABA</p>
                    <p class="heading">Directeur général délégué : Octave KLABA</p>
                    <p class="heading">Directeur général délégué : Halina KLABA</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            <a href="#" data-toggle="modal" data-target="#modal-default" target="_blank">Mentions légales</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
          </ul>
        </div>
      </div>
    </div>
</footer>