.main-subtitle {
    font-weight: 300;
    font-size: 2rem;
}

.header-content {
    display: flex;
}

.r-flex {
    display: flex;
    margin:auto;
}

.header-content img {
    display: block;
    height: 150px;
    margin-right: 15px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
}

.nav-icon img{
    width: 15px;
    height: 17px;
}

.nav-link-icon {
    vertical-align: middle;
}

.fa {
    font-size: 17px;
}

.fa-github {
    font-size: 24px;
}

.header-button {
    font-size: 20px;
}

.tag-link {
    margin-right: 8px;
}

.tech-img {
    vertical-align: middle;
}

.right-image-margin {
    margin-right: 2rem; 
}

.bold {
    font-weight: 800;
    text-decoration: underline;
}

.technic-legend {
    display: flex;
}

.fa-play {
    margin-right: 10px;
}

.portfolio-legend {
    margin-top: 10px;
}

.headroom--not-top {
    background-color:rgb(94, 114, 228, 0.7) !important;
}

.collapsed-nav-icon {
    width: 24px;
}

.nav-icon  {
    width: 24px;
}

.footer.has-cards {
    margin-top: -598px;
    padding-top: 665px;
}

.nav-icon-span {
    vertical-align: middle;
}

.login-section {
    height: 100vh;
}

.login-form {
    margin-top: 27%;
}

@media (max-width: 991.98px)
{
    .tech-img {
        margin-bottom: 2rem;
    }
}

@media (min-width: 991.98px)
{
    .no-margin-med-disp {
        margin-right: 0;
    }
}

@media (max-width: 767.98px)
{
    .header-content img {
        display: none;
    }

    .section-lg {
        padding-top: 1rem;
        padding-bottom: 0rem;
    }

    .my-name {
        font-size: 2.5rem;
    }

    .main-subtitle {
        font-size: 1.7rem;
    }
}

@media (min-width: 1200px)
{
    .no-margin-big-disp {
        margin-right: 0;
    }

    .no-margin-med-disp {
        margin-right: 2rem;
    }
}