  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                Edlef Kowalyk
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item">
              <a [routerLink]="['/']"  fragment="skills" class="nav-link" role="button">
                <img class="collapsed-nav-icon" src="./assets/img/icons/svg/colored/48px/badge-13.svg">
                <span class="nav-link-inner--text">Compétences</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/']" fragment="experience" class="nav-link" role="button">
                  <img class="collapsed-nav-icon" src="./assets/img/icons/svg/colored/48px/diamond.svg">
                <span class="nav-link-inner--text">Expériences</span>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/']" fragment="portfolio" class="nav-link" role="button">
                  <img class="collapsed-nav-icon" src="./assets/img/icons/svg/colored/48px/zoom-2.svg">
                <span class="nav-link-inner--text">Portfolio</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a [routerLink]="['/login']" class="nav-link" role="button">
                <span class="nav-link-inner--text">Login</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://hub.docker.com/search?q=edlef&type=image" target="_blank" data-toggle="tooltip" title="Dockerhub">
                <span>
                    <img class="nav-icon" src="./assets/img/icons/common/dockerhub.svg">
                </span>
                <span class="nav-link-inner--text d-lg-none">Dockerhub</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://gitlab.com/edlef" target="_blank" data-toggle="tooltip" title="Git">
                <span class="nav-icon-span"><i class="fa fa-github nav-icon"></i></span>
                <span class="nav-link-inner--text d-lg-none">Git</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<router-outlet></router-outlet>
