  <main>
    <div class="position-relative">
      <section class="section section-lg section-hero section-shaped">
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="container shape-container d-flex align-items-center py-md">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-8 text-center">
                <div class="header-content text-center">
                    <div class="r-flex">
                        <img src="./assets/img/theme/thumbnail-me.jpg" alt="me" class="img-fluid rounded-circle shadow-lg" style="width: 150px;">
                        <h1 class="display-1 text-white my-name">Edlef Kowalyk<span class="text-white main-subtitle">Développeur web freelance.</span></h1>
                    </div>
                </div>
                <div class="btn-wrapper mt-5">
                  <a href="https://hub.docker.com/search?q=edlef&type=image" target="_blank" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/dockerhub.svg">
                    </span>
                    <span class="btn-inner--text">Docker Hub</span>
                  </a>
                  <a href="https://gitlab.com/edlef" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                    <span class="btn-inner--icon"><i class="fa fa-github header-button"></i></span>
                    <span class="btn-inner--text">
                       Git</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="section section-components pb-0" id="section-components">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h2 class="mb-5 display-3 text-center">A propos de moi...</h2>
            <p class="lead">Curieux et autodidacte, j'ai découvert la programmation informatique en souhaitant réaliser un projet personnel il y a 5 ans.
              Après une courte formation et deux projets en auto-entrepreneur, j'ai travaillé 3 ans au sein d'une agence en tant que développeur web ou j'ai acquis au fil de nombreux projets des compétences variées et approfondies.
              Aujourd'hui je suis freelance et particulièrement intéressé par le domaine de la sécurité informatique ou je suis en formation.
            </p>
            <div class="mb-5">
                <a class="tag-link" href="https://3wa.fr/la-formation-developpeur-php/les-locaux-paris-eiffel-saint-saens/formation-php-lyon/" target="_blank"><button class="btn btn-1 btn-outline-primary" type="button">3W Academy Lyon</button></a>
                <a class="tag-link" href="https://www.fermedesglenats.fr/" target="_blank"><button class="btn btn-1 btn-outline-primary" type="button">Projet client gite</button></a>
                <a class="tag-link" href="https://www.art-therapie.info/" target="_blank"><button class="btn btn-1 btn-outline-primary" type="button">Projet client thérapeute</button></a>
                <a class="tag-link" href="https://www.integral-service.fr" target="_blank"><button class="btn btn-1 btn-outline-primary" type="button">Agence web Intégral service</button></a>
                <a class="tag-link"  id="skills" href="https://www.hackerone.com/internet-bug-bounty" target="_blank"><button class="btn btn-1 btn-outline-primary" type="button">Programme de bug bounty Hacker One</button></a>
            </div>
            <div  class="mb-5">
              <h2 class="display-3 mb-5 text-center">Compétences techniques</h2>
              <div class="d-flex justify-content-between mb-3">
                <small class="text-uppercase text-primary font-weight-bold"><span class="bold">Frameworks</span> : Symfony 2 & 3, Angular, Bootstrap, Codeigniter, Sylius.</small>
                <small class="text-uppercase text-primary font-weight-bold"><span class="bold">Languages</span> : PHP 5.6, PHP 7+, Javascript, Mysql, Typescript.</small>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <small class="text-uppercase text-primary font-weight-bold"><span class="bold">Test Unitaires et fonctionnels</span> : PHPUnit, Behat.</small>
                <small class="text-uppercase text-primary font-weight-bold"><span class="bold">Déploiement & intégrationn continue</span> : Jenkins, Docker.</small>
              </div>
              <div class="d-flex justify-content-between mb-5">
                  <small class="text-uppercase text-primary font-weight-bold"><span class="bold">Workflow</span> : Bower, Gulp, Webpack, git, git Flow, Xubuntu.</small>
              </div>
              <div class="mb-5 text-center">
                  <img src="./assets/img/technologies/symfony.png" data-toggle="tooltip" title="Symfony 2 & 3" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/angular.png"  data-toggle="tooltip" title="Angular" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/codeigniter.svg"  data-toggle="tooltip" title="Codeigniter" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/sylius.png"  data-toggle="tooltip" title="Sylius" alt="logo" class="img-fluid  tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/php.png"  data-toggle="tooltip" title="PHP 5.6 & 7+" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">
                  <img src="./assets/img/technologies/mysql.png"  data-toggle="tooltip" title="Mysql" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 75px;">
                  <img src="./assets/img/technologies/typescript.png"  data-toggle="tooltip" title="Typescript" alt="logo" class="img-fluid tech-img right-image-margin no-margin-big-disp" style="width: 75px;">    
                  <img src="./assets/img/technologies/phpUnit.jpeg"  data-toggle="tooltip" title="PhpUnit" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/behat.png"  data-toggle="tooltip" title="Behat" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/jenkins.png"  data-toggle="tooltip" title="Jenkins" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/docker.png"  data-toggle="tooltip" title="Docker" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/bower.png"  data-toggle="tooltip" title="Bower" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/npm.png"  data-toggle="tooltip" title="NPM" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/gulp.png"  data-toggle="tooltip" title="Gulp" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 55px;">    
                  <img src="./assets/img/technologies/webpack.png"  data-toggle="tooltip" title="Webpack" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 75px;">    
                  <img src="./assets/img/technologies/xubuntu.png" id="experience" data-toggle="tooltip" title="Xubuntu" alt="logo" class="img-fluid tech-img right-image-margin no-margin-big-disp" style="width: 75px;">    
              </div>
              <h2  class="display-3 mb-5 text-center">Expériences</h2>
              <div class="mb-5">
                  <p class="lead"><i class="fa fa-play text-success"></i>  Réalisation, évolution et maintenance de projets principalement en Symfony 2 & 3.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Import et gestion de gros volumes de données venant de plusieurs ERP.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Adaptation en PHP du DELPHI d'un algorithme de jeu de gestion, évolution et maintenance du projet.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Ecriture de tests unitaires et fonctionnels avec PHPUnit et Behat.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Déploiement et tests automatisés avec Selenium, Docker, Jenkins et Gitlab.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Maintenance et intervention sur des servers linux.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Utilisation avancée de git et des hooks.</p>
                  <p class="lead"><i class="fa fa-play text-success"></i> Réalisation de frontends avec Bootstrap et JQuery.</p>
                  <p class="lead" id="portfolio"><i class="fa fa-play text-success"></i> Réalisation d'un site e-commerce sur mesure avec Sylius.</p>
              </div>
              <h2 class="display-3 mb-5 text-center">Portfolio</h2>
              <div class="row">
                  <div class="col-sm-12 col-md-6 mb-5 mb-md-5">
                    <div class="card card-lift--hover shadow border-0">
                      <a href="https://www.fermedesglenats.fr/"  target="_blank" title="ferme des Glénats">
                        <img src="./assets/img/ill/ferme-des-glenats.jpg" class="card-img">
                      </a>
                    </div>
                    <div class="text-center">
                        <a href="https://www.fermedesglenats.fr/"  target="_blank" title="ferme des Glénats">
                          <p class="portfolio-legend"><small>Site vitrine pour une location de vacances.</small></p>
                        </a>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6 mb-5">
                      <p class="h4 text-success">Gîte la Ferme des Glénats</p>
                      <p>Ce premier projet client de 2014 (pour une location de vacances) réalisé en PHP avec CodeIgniter 2 a été totalment refondu en 2018 à la demande du client. 
                        Le design à été entièrement refait (charte graphique + logo), la base de données supprimée (elle servait initialement à un formulaire de contact mais le client préfère le téléphone), 
                        le code refactorisé pour une maintenance plus aisée et un header avec une vidéo ajoutée.
                        Une version anglaise à été crée ainsi qu'une campagne google adwords qui est active durant les périodes clé.
                      </p>
                      <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 50px;">
                      <img src="./assets/img/technologies/codeigniter.svg"  data-toggle="tooltip" title="Codeigniter" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 50px;">
                      <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 50px;">
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-5">
                        <div class="card card-lift--hover shadow border-0">
                          <a href="https://www.art-therapie.info" target="_blank" title="Ephtimia Dimitriou">
                            <img src="./assets/img/ill/ephtimia.jpg" class="card-img">
                          </a>
                        </div>
                        <div class="text-center">
                            <a href="https://www.art-therapie.info" target="_blank" title="Ephtimia Dimitriou">
                              <p class="portfolio-legend"><small>Site vitrine avec backoffice pour profession libérale.</small></p>
                            </a>
                        </div>
                      </div>
                    <div class="col-sm-12 col-md-6 mb-5">
                        <p class="h4 text-success">Ephtimia Dimitriou : art-thérapeute, coach</p>
                        <p>Ce projet réalisé en 2014 présente les activités de thérapeute, 
                          consultante et coach d'Ephtimia Dimitriou ainsi que les évènements qu'elle organise au long de l'année (stages, conférences...).
                          Réalisé en PHP avec CodeIgniter 2, il dispose d'un back-office qui permet à l'utilisateur d'éditer les principaux 
                          éléments de contenu ainsi que de gérer les évènements en CRUD. Le site a été rafraîchi et refactorisé en 2018, 
                          la page des évènements totalement repensée avec la possibilité pour l'utilisateur d'ajouter photos en illustration et documents à télécharger pour les visiteurs.
                        </p>
                        <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 50px;">
                        <img src="./assets/img/technologies/codeigniter.svg"  data-toggle="tooltip" title="Codeigniter" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 50px;">
                        <img src="./assets/img/technologies/mysql.png"  data-toggle="tooltip" title="Mysql" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 50px;">
                        <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 50px;">
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12 mb-5">
                    <p class="h4 text-success mb-5">Ipaje</p>
                    <div class="card card-lift--hover shadow border-0">
                      <a href="https://www.ipaje-business-games.com/nos-logiciels/geostrat/" target="_blank" title="Ipaje">
                        <img src="./assets/img/ill/game.jpg" class="card-img">
                      </a>
                    </div>
                    <div class="text-center">
                        <a href="https://www.ipaje-business-games.com/nos-logiciels/geostrat/" target="_blank" title="Ipaje">
                          <p class="portfolio-legend"><small>Application de jeu de gestion à destination des entreprises et des écoles de commerce.</small></p>
                        </a>
                    </div>
                  </div>
                  <div class="col-md-12 mb-5">
                      <p>Premier gros projet en tant que salarié, Ijape est un jeu de gestion initialement réalisé en symfony 2.7 puis migré en symfony 2.8
                        Existant à la base sur cd-rom et codé en Delphi, Ipaje se jouait avec un papier et un crayon. Un animateur se chargeant ensuite
                        de rentrer les données dans le software pour obtenir le score et les résultats. Notre tache fut de traduire l'algorithme en PHP puis d'adapter le jeu au web
                        pour qu'il puisse être joué en live par les participants.
                        Le principe du jeu s'articule autour d'une période correspondant à une année ou un trimestre de l'exercice d'une entreprise et d'un marché donné (qui représente un variante du jeu) : 
                        Geostrat = machines à laver, Diabolo = eau aromatisées etc...
                        Chaque participant qui représente une entreprise concurrente sur ce marché saisi des données (budget, emprunt, achat d'usine, sous-traitance...).
                        Quand tous les participants ont saisi les données, l'animateur cloture la période et les résultats tombent avec chiffre d'affaire, classement, parts de marché...puis 
                        une nouvelle période commence jusqu'au nombre de tours fixés au début du jeu.
                        Un backoffice fut également réaliser permettant à un administrateur de créer autant de variantes du jeu que souhaité grace à un très gros formulaire permettant de 
                        modifier tous les paramètres du jeu.
                        Ipaje fut un projet complexe à réaliser de part la rigueur même du sujet : fournir un bilan comptable exacte à l'euro près (actif = passif) et une myriade d'autres données
                        (justes) à partir d'un algorithme comprenant des centaines de calculs mathématiques et de variables qui elles peuvent êtres modifiées ! 
                        Un projet passionant et difficile mais qui aujourd'hui fonctionne. Mention spéciale pour les débbugages en production en live pendant les parties et 
                        les écarts de quelques euros inexpliqués (maudits arrondis et floats) qui m'ont donné quelques cheveux blancs...
                      </p>
                      <img src="./assets/img/technologies/symfony.png" data-toggle="tooltip" title="Symfony 2 & 3" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                      <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                      <img src="./assets/img/technologies/php.png"  data-toggle="tooltip" title="PHP 5.6 & 7+" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                      <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                      <img src="./assets/img/technologies/mysql.png"  data-toggle="tooltip" title="Mysql" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 55px;">
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-5">
                      <p class="h4 text-success mb-5">IlabPro</p>
                      <div class="card card-lift--hover shadow border-0">
                        <a href="http://labo-barla.eu/ilab-barla/" target="_blank" title="Ilab">
                          <img src="./assets/img/ill/lab-1.jpg" class="card-img">
                        </a>
                      </div>
                      <div class="text-center">
                          <a href="http://labo-barla.eu/ilab-barla/" target="_blank" title="Ilab">
                            <p class="portfolio-legend"><small>Application de gestion de catalogues d'analyses médicales.</small></p>
                          </a>
                      </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card card-lift--hover shadow border-0">
                          <a href="http://labo-barla.eu/ilab-barla/" target="_blank" title="Ilab">
                            <img src="./assets/img/ill/lab-2.png" class="card-img">
                          </a>
                        </div>
                        <div class="text-center">
                            <a href="http://labo-barla.eu/ilab-barla/" target="_blank" title="Ilab">
                              <p class="portfolio-legend"><small>Application mobile pour les professionnels de santé.</small></p>
                            </a>
                        </div>
                      </div>
                    <div class="col-md-8 mb-5">
                        <p>Avec Ipaje, Ilabpro est le projet sur lequel j'ai le plus travaillé. Ilab est un groupement de laboratoires d'analyses médicales qui propose des catalogues d'analyses
                          médicales (c'est leur produit).
                          Leur objectif principal est que les professionnels de santé (notamment les infirmière libérales) utilisent leurs services plutôt qu'un autre. Leur second objectif 
                          est de pouvoir importer, standardiser, gérer et exporter des données venant de leur différents ERP internes.
                          L'application web dont j'étais l'un des principaux développeurs a été réalisée en Symfony 2.7 et son objectif était la gestion automatique des flux de données ainsi 
                          qu'un backoffice à moulte niveaux d'acces permettant au personnel de Labco du CRUD sur les données.
                          La réalisation de scripts d'import de fichiers xml et csv et d'api pour hydrater en données les applications mobiles natives en objectif C et Java furent mes occupations principales sur 
                          ce projet.
                        </p>
                    </div>
                    <div class="col-md-12 mb-5">
                        <div class="mb-5 text-center">
                            <img src="./assets/img/technologies/symfony.png" data-toggle="tooltip" title="Symfony 2 & 3" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                            <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                            <img src="./assets/img/technologies/php.png"  data-toggle="tooltip" title="PHP 5.6 & 7+" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                            <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">
                            <img src="./assets/img/technologies/mysql.png"  data-toggle="tooltip" title="Mysql" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 55px;">
                            <img src="./assets/img/technologies/phpUnit.jpeg"  data-toggle="tooltip" title="PhpUnit" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">    
                            <img src="./assets/img/technologies/behat.png"  data-toggle="tooltip" title="Behat" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">    
                            <img src="./assets/img/technologies/bower.png"  data-toggle="tooltip" title="Bower" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">    
                            <img src="./assets/img/technologies/npm.png"  data-toggle="tooltip" title="NPM" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 55px;">    
                        </div>
                        <p>
                          La difficulté de ce projet résidait dans le volume des données généré quotidiennement par les défférents ERP mais aussi dans la qualité de celles-ci. 
                          Dès les premiers stades du projet j'ai eu des problèmes de performance (problèmes de mémoire sur le server de bdd notamment) mais aussi des données non-uniformisées et corrompues.
                          Dès lors, opérer du Crud à l'échelle massive à soulever un grand nombre de questions et j'ai du adapter ma façon de penser (découpage des fichiers, 
                          taille des requêtes, import dans une table intermédiaire, nettoyage des données pour éviter des updates coûteux en ressources...) pour palier à ces problèmes. 
                          Tous ceci afin qu'elles puissent être servies proprement par api à des aux natives.
                        </p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12 col-md-6 mb-5">
                          <p class="h4 text-success mb-5">Blanc Cambouis</p>
                          <div class="card card-lift--hover shadow border-0">
                            <a href="https://www.blanccambouis.fr/products/steve-fr" target="_blank" title="Blanc Cambouis">
                              <img src="./assets/img/ill/camb.jpg" class="card-img">
                            </a>
                          </div>
                          <div class="text-center">
                              <a href="https://www.blanccambouis.fr/products/steve-fr" target="_blank" title="Blanc Cambouis">
                                <p class="portfolio-legend"><small>Configurateur de meuble 3D sur-mesure</small></p>
                              </a>
                          </div>
                            <p>Blanc Cambouis est un site e-commerce pour meubles de créateur personnalisables. Basé sur Sylius, une solution e-commerce de symfony, Blanc Cambouis 
                              est innovant puisqu'il embarque un configurateur de meuble en 3D pour que le client puisse lui même composer son meuble en ligne.
                              Si la génération du modèle en 3D a été confié à une entreprise spécialisée, le configurateur à lui été crée par nos soins. J'ai principalement travaillé 
                              sur le javascript de celui-ci. La principale difficulté de ce projet à été le choix de Sylius comme solution qui était alors en pré-alpha et qui a pris 
                              beaucoup de retard sur son développement par rapport à ce qui était annoncé par l'équipe.
                              De ce fait de nombreuses verisons annoncées comme mineures ou patch étaient en réalité des breaking changes nous obligeant à recoder nos features...
                            </p>
                            <img src="./assets/img/technologies/symfony.png" data-toggle="tooltip" title="Symfony 2 & 3" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                            <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                            <img src="./assets/img/technologies/sylius.png"  data-toggle="tooltip" title="Sylius" alt="logo" class="img-fluid  tech-img right-image-margin" style="width: 40px;">
                            <img src="./assets/img/technologies/php.png"  data-toggle="tooltip" title="PHP 5.6 & 7+" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                            <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                            <img src="./assets/img/technologies/mysql.png"  data-toggle="tooltip" title="Mysql" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 40px;">
                            <img src="./assets/img/technologies/phpUnit.jpeg"  data-toggle="tooltip" title="PhpUnit" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">    
                            <img src="./assets/img/technologies/behat.png"  data-toggle="tooltip" title="Behat" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">    
                            <img src="./assets/img/technologies/jenkins.png"  data-toggle="tooltip" title="Jenkins" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">    
                            <img src="./assets/img/technologies/docker.png"  data-toggle="tooltip" title="Docker" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">    
                            <img src="./assets/img/technologies/npm.png"  data-toggle="tooltip" title="NPM" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">    
                            <img src="./assets/img/technologies/webpack.png"  data-toggle="tooltip" title="Webpack" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">  
                        </div>
                    <div class="col-sm-12 col-md-6 mb-5">
                      <p class="h4 text-success mb-5">Scoreit</p>
                      <div class="card card-lift--hover shadow border-0">
                        <a href="http://www.scoreit.org/" target="_blank" title="Scoreit">
                          <img src="./assets/img/ill/score.jpg" class="card-img">
                        </a>
                      </div>
                      <div class="text-center">
                          <a href="http://www.scoreit.org/" target="_blank" title="Scoreit">
                            <p class="portfolio-legend"><small>Scoreit est basé sur un Symfony 2.8</small></p>
                          </a>
                      </div>
                        <p>Scoreit est le premier réseau social pour les compositeurs de musique de films. Il permet aux professionnels de renseigner leur spécialité(es), poster leurs morceaux, 
                          découvrir et échanger avec d'autres compositeurs ou encore poser et répondre à des questions sur la fonctionnalité Answerit, à la manière de stackoverflow.
                          C'est justement cette fonctionnalité que j'ai crée sur ce projet. Réalisée en ajax, elle permet de poser une question, répondre et voter pour ou contre.
                        </p>
                        <img src="./assets/img/technologies/symfony.png" data-toggle="tooltip" title="Symfony 2 & 3" alt="symfony logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                        <img src="./assets/img/technologies/bootstrap.jpg" data-toggle="tooltip" title="Bootstrap" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                        <img src="./assets/img/technologies/javascript.png"  data-toggle="tooltip" title="Javascript" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">
                        <img src="./assets/img/technologies/mysql.png"  data-toggle="tooltip" title="Mysql" alt="logo" class="img-fluid tech-img right-image-margin no-margin-med-disp" style="width: 40px;">
                        <img src="./assets/img/technologies/npm.png"  data-toggle="tooltip" title="NPM" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">    
                        <img src="./assets/img/technologies/webpack.png"  data-toggle="tooltip" title="Webpack" alt="logo" class="img-fluid tech-img right-image-margin" style="width: 40px;">  
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-components">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-12">
                  <app-comment-form></app-comment-form>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <app-comment-list></app-comment-list>
                    <div class="footer-seperator"></div>
                </div>
            </div>
        </div>
    </section>
  </main>

  <app-footer></app-footer>